.c-form {
	@include make-row();
	display: flex;
	flex: 1 0 auto;
	color: $black;
	padding: $container-padding $container-padding/4;

	@include media-breakpoint-up(md) {
		padding: $container-padding*2 $container-padding;
	}

	&__title {
		@include make-col-ready();
		@include make-col(12);
		font-size: $font-size-xl;
		font-family: $font-head;
		display: flex;
		justify-content: center;

		@include media-breakpoint-up(md) {
			@include make-col(3);
			flex-direction: column;
		}

		@include media-breakpoint-up(lg) {
			font-size: $font-size-xxl;
		}
	}

	&__wrapper {
		@include make-col-ready();
		@include make-col(12);

		@include media-breakpoint-up(md) {
			@include make-col(9);
		}
	}

	&__form {
		@include make-row();
		padding: 0 $container-padding;
		display: flex;
	}

	&__label {
		@include make-col-ready();
		@include make-col(12);
		font-family: $font-head;
		display: flex;
		flex-direction: column;
		padding: $container-padding/4;

		@include media-breakpoint-up(md) {
			@include make-col(6);
		}
	}

	&__input{
		border: none;
		border-bottom: 1px solid $black;
		margin-bottom: $container-padding/4;
	}

	&__required {
		font-size: $font-size-sm;
		color: red;
		font-family: $font-regular
	}

	&__error,
	&__sucess {
		padding-left: $container-padding;
		margin-bottom: $container-padding/4;
	}

	&__error {
		color: red;
	}

	&__button {
		margin-left: $container-padding;
		font-size: $font-size-lg;
		padding: $container-padding/4 $container-padding;
		background-color: $violet;

		&.is-disabled {
			cursor: not-allowed;
			opacity: .6;
		}
	}
}