* {
	box-sizing: border-box;

	&:focus {
		outline: 0 !important;
	}
}

body {
	font-size: $font-size-base;
	font-weight: $font-weight-regular;
	overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.3;
	margin-bottom: $grid-gutter-width / 2;
	color: $white;
	font-weight: $font-weight-regular;
}

p{
	margin: 0;
	padding: 0
}

a,
button,
input,
label {
	cursor: pointer;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

a,
button {
	color: $white;

	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
		color: $white
	}
}


